* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: RGB(229 76 197);
}

.container {
  margin: 35px auto;
  max-width: 1450px;
}

@media (max-width: 980px) {
  body {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100vw;
  }
}
header {
  margin: 0 auto;
  padding-top: 40px;
  background-color: RGB(244 244 243);
}
header nav {
  margin: 0 auto;
  align-items: center;
  position: fixed;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: white;
  padding: 20px 25px;
  border-radius: 45px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 100;
}
header nav .nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
header nav .nav-left a {
  padding-left: 30px;
  text-decoration: none;
  color: black;
}
header nav .profiles {
  display: flex;
  justify-content: flex-end;
}
header nav .profiles a {
  text-decoration: none;
  color: gray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
  padding: 8px;
  margin-left: 10px;
  transition: all 150ms ease-in-out;
}
header nav .profiles a:hover {
  background-color: rgba(253, 196, 241, 0.4);
}
header .about-me {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .about-me h1 {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  font-size: 75px;
  background-color: RGB(229 76 197);
  line-height: 1.5;
  padding: 0 20px;
  border-radius: 15px;
}
header .about-me h2 {
  font-size: 50px;
  margin: 45px;
}
header .about-me p {
  font-size: 20px;
}
header .mobile-nav {
  display: none;
}
header .wave {
  position: relative;
  bottom: -10px;
}
@media (min-width: 768px) {
  header .hamburger {
    display: none;
  }
}
@media (max-width: 990px) {
  header header {
    margin: auto;
    padding: 0;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border-radius: 0;
    padding: 25px 8%;
    margin: 0;
    font-size: 15px;
    padding: 15px 10px;
  }
  header nav .nav-left a {
    font-size: 12px;
  }
  header nav .profiles {
    display: none;
  }
  header .about-me {
    margin-top: 40px;
  }
  header .about-me h1 {
    font-size: 40px;
  }
  header .about-me h2 {
    font-size: 30px;
  }
  header .about-me p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  header .links {
    display: none;
  }
  header .hamburger {
    position: relative;
    display: block;
    width: 30px;
    cursor: pointer;
  }
  header .hamburger .bar,
header .hamburger:after,
header .hamburger:before {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(229, 79, 197);
    margin: 4px 0px;
    transition: 0.4s;
  }
  header .is-active:before {
    transform: rotate(45deg) translate(8px, 6px);
  }
  header .is-active:after {
    transform: rotate(-45deg) translate(4px, -3px);
  }
  header .is-active .bar {
    opacity: 0;
  }
  header .mobile-nav {
    position: fixed;
    margin-top: 60px;
    top: 0;
    right: 100%;
    width: 50%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 80px;
    transition: 0.4s;
  }
  header .mobile-nav.is-active {
    right: 0;
  }
  header .hamburger-link {
    display: block;
    width: 70%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: rgb(229, 79, 197);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.4s;
  }
  header .hamburger-link.is-active {
    opacity: 0;
  }
  header a:hover {
    background-color: rgba(237, 103, 208, 0.8);
  }
}

main {
  margin: 0 auto;
  text-align: center;
}
main .first-section {
  background-color: white;
}
main .first-section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 40px;
}
main .first-section img {
  max-width: 400px;
  border-radius: 50% 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 auto;
}
main .first-section div {
  padding-right: 100px;
}
main .first-section div p {
  line-height: 1.5;
  margin-bottom: 30px;
}
main .first-section div a {
  text-align: center;
  text-decoration: none;
  border: 1px solid rgb(229, 79, 197);
  padding: 10px;
  background-color: rgba(237, 103, 208, 0.8);
  border-radius: 25px;
  color: white;
  transition: all 150ms ease-in-out;
}
main .first-section div a:hover {
  background-color: rgb(229, 79, 197);
}
@media (max-width: 980px) {
  main .first-section .first-section {
    margin: 0 auto;
  }
  main .first-section .grid {
    grid-template-columns: 1fr;
  }
  main .first-section img {
    max-width: 250px;
  }
  main .first-section div {
    padding: 0 30px;
  }
  main .first-section div p {
    font-size: 14px;
    margin-top: 20px;
  }
  main .first-section div a {
    font-size: 15px;
    padding: 8px 8px;
  }
}
@media (max-width: 500px) {
  main .first-section .first-section {
    margin: 0 auto;
  }
  main .first-section .grid {
    grid-template-columns: 1fr;
  }
  main .first-section img {
    max-width: 200px;
  }
  main .first-section div {
    padding: 0 10px;
  }
  main .first-section div p {
    font-size: 11px;
    margin-top: 15px;
  }
  main .first-section div a {
    font-size: 10px;
    padding: 8px 5px;
  }
}
main .first-section .wave-one {
  position: relative;
  bottom: -10px;
}
main .second-section {
  padding: 60px 0;
  background-color: #f3f4f5;
}
main .second-section h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
main .second-section h4 {
  opacity: 0.9;
}
main .second-section .first-row,
main .second-section .second-row,
main .second-section .meanings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0 200px;
}
main .second-section i {
  font-size: 50px;
  color: rgb(229, 79, 197);
  margin-top: 50px;
}
main .second-section .second-row {
  margin-top: 40px;
}
main .second-section .second-row img {
  width: 50px;
  margin: 0 auto;
}
main .second-section .meanings {
  font-size: 13px;
  opacity: 0.9;
}
main .second-section .wave-two {
  position: relative;
  bottom: -70px;
}
@media (max-width: 980px) {
  main .second-section {
    padding: 20px 0;
  }
  main .second-section h3 {
    font-size: 23px;
  }
  main .second-section h4 {
    font-size: 15px;
  }
  main .second-section .first-row,
main .second-section .second-row,
main .second-section .meanings {
    padding: 0 40px;
  }
  main .second-section i {
    font-size: 40px;
  }
  main .second-section .second-row img {
    width: 40px;
  }
  main .second-section .meanings {
    font-size: 11px;
  }
  main .second-section .wave-two {
    bottom: -30px;
  }
}
@media (max-width: 550px) {
  main .second-section {
    padding: 20px 0;
  }
  main .second-section h3 {
    font-size: 20px;
  }
  main .second-section h4 {
    font-size: 15px;
    padding: 0 10px;
  }
  main .second-section .first-row,
main .second-section .second-row,
main .second-section .meanings {
    padding: 0 10px;
  }
  main .second-section i {
    font-size: 30px;
  }
  main .second-section .second-row img {
    width: 30px;
  }
  main .second-section .meanings {
    font-size: 10px;
  }
  main .second-section .wave-two {
    bottom: -30px;
  }
}
main .third-section {
  background-color: white;
  padding-bottom: 60px;
}
main .third-section h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
main .third-section h4 {
  margin-bottom: 20px;
}
main .third-section .grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 60px;
}
main .third-section .grid-cards .card {
  max-width: 350px;
  background-color: RGB(244 244 243);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 auto;
  padding-bottom: 20px;
  transition: transform 0.3s;
}
main .third-section .grid-cards .card img {
  max-width: 350px;
  border-radius: 15px;
}
main .third-section .grid-cards .card .about-app {
  padding: 10px 20px;
}
main .third-section .grid-cards .card .about-app h4 {
  font-size: 20px;
  opacity: 0.9;
}
main .third-section .grid-cards .card .about-app p {
  text-align: left;
  padding-top: 10px;
  opacity: 0.9;
  height: 130px;
}
main .third-section .grid-cards .card .about-app .built-with {
  padding-top: 40px;
}
main .third-section .grid-cards .card .about-app .built-with-worldclock {
  padding-top: 60px;
}
main .third-section .grid-cards .card .about-app a {
  text-decoration: none;
  border: 1px solid rgb(229, 79, 197);
  padding: 10px;
  background-color: rgba(237, 103, 208, 0.8);
  border-radius: 25px;
  color: white;
  transition: all 150ms ease-in-out;
}
main .third-section .grid-cards .card .about-app a:hover {
  background-color: rgb(229, 79, 197);
}
main .third-section .grid-cards .card:hover {
  transform: scale(1.1);
}
main .third-section .wave-three {
  position: relative;
  bottom: -70px;
}
@media (max-width: 1210px) {
  main .third-section h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  main .third-section h4 {
    font-size: 18px;
  }
  main .third-section .grid-cards {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  main .third-section .grid-cards .card {
    max-width: 650px;
    margin-bottom: 40px;
  }
  main .third-section .grid-cards .card img {
    max-width: 650px;
  }
  main .third-section .grid-cards .card .about-app {
    padding: 5px 10px;
  }
  main .third-section .grid-cards .card .about-app h4 {
    font-size: 25px;
  }
  main .third-section .grid-cards .card .about-app p {
    text-align: center;
    height: 120px;
    font-size: 20px;
  }
  main .third-section .grid-cards .card .about-app .built-with-worldclock {
    padding-top: 30px;
  }
  main .third-section .grid-cards .card .about-app a {
    padding: 10px 10px;
    font-size: 15px;
  }
}
@media (max-width: 670px) {
  main .third-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  main .third-section h4 {
    font-size: 15px;
  }
  main .third-section .grid-cards {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  main .third-section .grid-cards .card {
    max-width: 300px;
    margin-bottom: 40px;
  }
  main .third-section .grid-cards .card img {
    max-width: 300px;
  }
  main .third-section .grid-cards .card .about-app {
    padding: 5px 5px;
  }
  main .third-section .grid-cards .card .about-app h4 {
    font-size: 17px;
  }
  main .third-section .grid-cards .card .about-app p {
    text-align: center;
    height: 130px;
    font-size: 15px;
  }
  main .third-section .grid-cards .card .about-app a {
    padding: 8px 10px;
    font-size: 11px;
  }
}

footer {
  background-color: #f3f4f5;
  padding-bottom: 50px;
  padding-right: 100px;
}
footer .links {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  cursor: pointer;
}
footer i {
  font-size: 40px;
  color: rgba(237, 103, 208, 0.8);
  padding: 5px 20px;
  transition: all 150ms ease-in-out;
}
footer i:hover {
  color: rgb(229, 79, 197);
}
footer p {
  font-size: 9px;
}
@media (max-width: 600px) {
  footer {
    padding-right: 0;
  }
  footer .links {
    justify-content: center;
  }
}

.sticky {
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  padding: 25px 8%;
  transition: padding 1s;
}/*# sourceMappingURL=main.css.map */