* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: RGB(229 76 197);
  width: 100%;
}

.container {
  margin: 35px auto;
  max-width: 1450px;
}

header {
  margin: 0 auto;
  padding-top: 40px;
  background-color: RGB(244 244 243);
  position: relative;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: white;
    padding: 20px 25px;
    border-radius: 45px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .nav-left {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;

      a {
        padding-left: 30px;
        text-decoration: none;
        color: black;
      }
    }

    .profiles {
      justify-content: space-between;

      a {
        text-decoration: none;
        color: gray;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 25px;
        padding: 8px;
        margin-left: 10px;
        transition: all 150ms ease-in-out;
      }
      a:hover {
        background-color: rgba(253, 196, 241, 0.4);
      }
    }
  }

  .about-me {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      display: flex;
      justify-content: center;
      max-width: 1000px;
      font-size: 75px;
      background-color: RGB(229 76 197);
      line-height: 1.5;
      padding: 0 20px;
      border-radius: 15px;
    }

    h2 {
      font-size: 50px;
      margin: 45px;
    }
  }

  .wave {
    position: relative;
    bottom: -10px;
  }
}

main {
  margin: 0 auto;
  text-align: center;
  .first-section {
    padding: 60px 0;
    background-color: white;

    h3 {
      font-size: 30px;
      margin-bottom: 30px;
    }

    h4 {
      opacity: 0.9;
    }

    .first-row,
    .second-row,
    .meanings {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 0 200px;
    }
    i {
      font-size: 50px;
      color: rgb(229, 79, 197);
      margin-top: 50px;
    }

    .second-row {
      margin-top: 40px;

      img {
        width: 50px;
        margin: 0 auto;
      }
    }

    .meanings {
      font-size: 13px;
      opacity: 0.9;
    }

    .wave-two {
      position: relative;
      bottom: -70px;
    }
  }

  .second-section {
    background-color: RGB(244 244 243);
    padding-bottom: 60px;

    h3 {
      font-size: 30px;
      margin-bottom: 30px;
    }

    h4 {
      margin-bottom: 20px;
    }

    .grid-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 30px 60px;

      .card {
        max-width: 350px;
        background-color: white;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 0 auto;
        padding-bottom: 20px;
        transition: transform 0.3s;

        img {
          max-width: 350px;
          border-radius: 15px;
        }

        .about-app {
          padding: 10px 20px;
          h4 {
            font-size: 20px;
            opacity: 0.9;
          }

          p {
            text-align: left;
            padding-top: 10px;
            opacity: 0.9;
            height: 130px;
          }
          .built-with {
            padding-top: 30px;
          }
          a {
            text-decoration: none;
            border: 1px solid rgb(229, 79, 197);
            padding: 10px;
            background-color: rgba(237, 103, 208, 0.8);
            border-radius: 25px;
            color: white;
            transition: all 150ms ease-in-out;
          }
          a:hover {
            background-color: rgb(229, 79, 197);
          }
        }
      }
      .card:hover {
        transform: scale(1.1);
      }
    }
  }
}
